* {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    max-width: 1600px;
}

.spnclr {
    color: #f00;
}


/* hero starts */
header {
    position: relative;
    padding-top: 30px;
}

header .over {
    position: absolute;
    width: 1600px;
    top: 30%;
    bottom: 30%;
    text-align: center;
    color: white;

}

header img {
    width: 1600px;
    height: auto;
}

header h1 {
    font-size: 72px;
    font-weight: bolder;
    line-height: 1.3;
    text-shadow: 0 0 10px black, 0 0 10px black;
}

header p {
    font-size: 42px;
    text-shadow: 0 0 10px black, 0 0 10px black;
}

/* hero ends */
/* offer starts */
.offer {
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.offer h1 {
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: bold;
}

.offer p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.offer h2 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
}

.offer img {
    margin: 70px;
}

/* offer ends */
/* party join starts */
.party {
    position: relative;
    padding-top: 30px;
}

.party .mainimg {
    width: 1600px;
    height: auto;
}

.party .overflex {
    position: absolute;
    width: 1600px;
    top: 20%;
    display: flex;
    justify-content: space-around !important;
    align-items: center;
}

.party .over1d {
    padding-top: 80px;
    padding-left: 50px;
    width: 600px;
    text-align: left;
    color: white;
}

.party .over2d {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 0;
}

.over1d h2 {
    font-size: 64px;
    padding-bottom: 20px;
    text-shadow: 0 0 5px black;
}

.over1d button {
    border: 0;
    border-radius: 10px;
    background-color: rgb(247, 222, 119);
    margin: 100px 100px 0;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(29, 9, 17);
}

.over1d button:hover {
    cursor: pointer;
}

/* party join ends */
/* location starts */
.location {
    width: 1600px;
    background-image: linear-gradient(to bottom, rgb(255, 232, 232), rgb(255, 255, 255));
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px 0;
}

.location h2 {
    padding-top: 10px;
    font-size: 32px;
}

.location button {
    color: white;
    background-color: #f00;
    border: 0;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: large;
    letter-spacing: 10%;
    margin: 50px 0;
    cursor: pointer;
}

/* location ends */
/* comingsoon starts */
.comingsoon {
    background-color: rgb(255, 213, 213);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: space-around;
    align-items: center;
    padding: 100px 0;
    margin: 100px auto;
    border: 0;
    border-radius: 15px;
}

.comingsoon div {
    display: block;
}

.comingsoon .div1 {
    padding-left: 100px;
    width: 400px;
    line-height: 1.5;
}

.comingsoon .div1 .medp {
    font-size: 24px;
    font-weight: medium;
}

.comingsoon h2 {
    font-size: 48px;
    font-weight: bolder;
}

.comingsoon .div2 {
    width: 400px;
}

.comingsoon .div2 img {
    border: 25px solid rgb(255, 255, 255);
    outline: 10px solid #f00;
    border-radius: 50%;
}

.comingsoon .div3 {
    width: 300px;
    padding-left: 100px;
    line-height: 1.5;
}

/* comingsoon ends */
/* holiday starts */
.holiday {
    display: grid;
    grid-template-rows: 1fr 2fr;
    text-align: center;
    height: 1000px;
    background-image: url(images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1600px;
    padding: 50px;
}

.holiday .colflex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    position: relative bottom;
}

.holiday .holtext {
    line-height: 1.5;
    padding: 0 300px;
    text-align: center;
    display: block;
    justify-content: center;
}

.holiday .holtext p {
    font-size: 24px;
}

.holiday .holtext h2 {
    font-size: 72px;
    font-weight: bolder;
}

/* holiday ends */
/* portfolio start */
.portfolio {
    padding: 100px 0;
    width: 1600px;
}

.portfolio .prtext {
    line-height: 2;
    padding: 50px 0;
}

.portfolio .prtext p {
    font-size: 24px;
}

.portfolio .prtext h2 {
    font-size: 48px;
    font-weight: bolder;
}

.portfolio .imgcols {
    width: 1600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    gap: 15px;
}

.portfolio .imgcols img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* portfolio ends */
/* subscribe starts */
.sub {
    background-color: rgb(255, 213, 213);
    text-align: center;
    padding: 40px;
    border: 0;
    border-radius: 15px;
}

.sub h2 {
    font-size: 48px;
    font-weight: bolder;
    padding: 10px;
}

.sub p {
    padding: 0 400px;
    line-height: 1.2;
    align-items: center;
}

.sub #btn {
    display: flex;
    padding: 50px;
    justify-content: center;
}

.sub #btn input {
    width: 400px;
    height: 50px;
    border: 0;
    border-radius: 25px 0 0 25px;
    padding-left: 20px;
}

.sub #btn button {
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    height: 50px;
    border: 2px solid #f00;
    color: #f00;
    border-radius: 0 25px 25px 0;
}

.sub #btn button:hover {
    background-color: #f00;
    color: white;
    cursor: pointer;
    font-size: 22px;
}

/* subscribe ends */
/* footer starts */
footer {
    background-color: #070211;
    color: white;
    margin-top: 100px;
    padding: 40px 150px 0px;
}

footer .address {
    /* max-width: 1600px; */
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

footer .logos {
    text-align: center;
    padding: 20px;
}

footer .copyright {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}